<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Talk Tech</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        Let's Talk Tech
      </h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{#if loggedIn}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li class="logout"><a href="/logout" class="logout">Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Created By DeAnna Martinez
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>